<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FileCSV</title>
    {% block head %}
    {% endblock %}
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.6.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</head>
<body>
<header>
    <div class="container" id="nav-conteiner">
        <nav class="navbar navbar-expand-lg fixed-top">
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="{{ url_for('web.index')}}" class="nav-link active" aria-current="page">Home</a></li>
                <li class="nav-item"><a href="{{ url_for('web.listar')}}" class="nav-link">Listar</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="container">
    {% block conteudo %}
    {% endblock %}
</div>
</body>
</html>